/* Defaults */

form{
  display: flex;
  padding: 5%;
  justify-content: center;
  flex-direction: column;
}

ul.NavBar {
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 5px 25px 5px 5px;
  overflow: hidden;
  background-color: #D0FFFF;
  border-bottom: 0.5px solid gainsboro;
}

li img {
  display: block;
  text-align: center;
  padding: 14px 16px ;
  float: left;
}

li img:hover {
  filter: drop-shadow(0px 0px 10px gray);
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input.invalid {
  border-color: red;
}

button {
  background-color: royalblue;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  text-align: left;
}

button:hover {
  background-color: blue;
}


/* CLASSES */
/* Containers */
.buttonContainerVertical{
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  width: 50%;
  grid-gap: 10px;
}

/* Images */
.logo{
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(-8px 8px 10px gray);
}

.profilePicture{
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* Text */

.inputSet{
  margin-bottom: 10px;
  padding: 10px;
}

.errorMessage{
  color: red;
  position: absolute;
}